$lightgray: #eee;
$white: #fff;
$black: #000;
$darkgray: #1d1d1d;
$red: #f00;
// $green: #0f0;
$blue: #00f;
$yellow: #ff0;
$magenta: #f0f;
$cyan: #0ff;
$background: #111;
$green: #00b200;

$primary-weight-bold: 700;
$text: $white;
